.about 
    background: linear-gradient(to bottom, #D5E2E4 65%, #FFFFFF 35%)
    position: relative
    padding: 96px 0 90px
    box-sizing: border-box
    display: flex
    flex-direction: column
    align-items: center

 
.about__title
    color: #003E47
    font-size: 90px
    line-height: 105px
    font-weight: 600
    margin: 0 0 77px
    text-align: center
    max-width: 1170px

.about__illustration
    max-width: 1330px
    width: 85%
