.how-it-works
    padding: 80x 0 52px
    display: flex
    flex-direction: column
    align-items: center
    position: relative

.how-it-works__title
    color: #1C1C1C
    font-size: 60px
    line-height: 74px
    font-weight: 700
    margin: 0 auto
    text-align: center

.how-it-works__subtitle
    color: #000000
    font-size: 24px
    line-height: 32px
    font-weight: 400
    text-align: center
    max-width: 1170px
    margin: 0 auto 42px

.how-it-works__illustration-container
    display: flex
    margin-bottom: 60px

.how-it-works__figure
    margin: 0

.how-it-works__img
    border: 1px solid #6000ED
    border-radius: 30px
    margin-bottom: 16px

.how-it-works__figcaption
    color: #6000ED
    font-size: 20px
    font-weight: 600
    line-height: 32px
    text-align: center

.how-it-works__arrow
    margin: 0 8px



