.advantages
  background: #D5E2E4
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  padding: 110px 0
  @media (max-width: 1000px)
    padding: 80px 0 120px

.advantages__title
  color: #1C1C1C
  font-size: clamp(28px, 4vw, 60px)
  line-height: 74px
  font-weight: 700
  margin: 0 0 76px
  text-align: center
  max-width: 1050px
  letter-spacing: 0.2px
  @media (max-width: 768px)
    max-width: 360px
    line-height: 33.6px
    margin: 0 0 40px

.advantages__container
  box-sizing: content-box
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between
  max-width: 1336px

.advantages__list-container
  width: 100%
  display: flex
  flex-direction: column
  align-items: center

.advantages__list
  display: flex
  gap: 110px
  margin: 0
  padding: 0
  flex-wrap: wrap
  @media (max-width: 1000px)
    gap: 50px
  @media (max-width: 768px)
    justify-content: center
    flex-wrap: wrap
    gap: 20px

.advantages__item-container
  border: 1px solid #6000ED
  border-radius: 50%
  box-sizing: border-box
  width: clamp(150px, 15.5vw, 207px)
  height: clamp(150px, 15.5vw, 207px)
  margin: 0
  display: flex
  align-items: center
  justify-content: center

.advantages__item-text
  font-size: 28px
  line-height: 36px
  font-weight: 500
  margin: 0
  color: #6000ED
  text-align: center
  letter-spacing: 0.2px
  @media screen and (max-width: 1000px)
    font-size: 20px
    line-height: 24px

.advantages__illustration-container_child
  display: flex
  gap: 121px
  align-items: center
  justify-content: center
  margin: -300px 0 94px
  @media (max-width: 1366px)
    gap: clamp(0px, 8vw, 197px)
    margin: -300px 0 126px
  @media (max-width: 768px)
    margin: -100px 0 80px
  @media (max-width: 450px)
    gap: 0

.advantages__illustration
  width: 100%
  height: 100%

  &_2
    width: 411px
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25)
    @media (max-width: 1366px)
      width: 390px
    @media (max-width: 1000px)
      width: 194px

  &_3
    width: 590px
    box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.25)
    @media (max-width: 1366px)
      width: 510px
    @media (max-width: 1000px)
      width: 186px
    @media (max-width: 450px)
      margin: 0 0 0 -20px
  


