.item
  display: flex
  flex-direction: column
  height: 245px
  width: 249px
  border-radius: 12px
  border: 1px solid #B4BBD7
  box-shadow: 0 2px 20px 0 rgba(180, 187, 215, 0.10)
  overflow: hidden

  &:hover
    outline: 2px solid #550FDA
    cursor: pointer

  &:hover .favIcon
    visibility: visible

  @media screen and (max-width: 1920px)
    height: 218px
    width: 214px
  @media screen and (max-width: 1366px)
  @media screen and (max-width: 1000px)
  @media screen and (max-width: 768px)
    height: 164px
    width: 161px

.img
  width: 100%
  height: 149px
  background: #eaeaea
  object-fit: cover
  @media screen and (max-width: 1920px)
    height: 122px
  @media screen and (max-width: 768px)
    height: 88px

.imgWrapper
  position: relative
  display: flex
   


.linkWrapper
  padding: 8px 16px
  height: 100%
  border-top: 1px solid #B4BBD7
  display: flex
  flex-direction: column
  justify-content: space-between
  @media screen and (max-width: 1920px)
    padding: 8px

.link
  color: #000
  text-decoration: none
  font-family: Inter, sans-serif
  font-size: 18px
  font-weight: 600
  line-height: 22px
  transition: all .1ms linear

  & :hover
    color: #0D23E9

  @media screen and (max-width: 1920px)
    font-size: 15px
    line-height: 18px
  @media screen and (max-width: 768px)
    font-size: 14px
    line-height: 18px

.favIcon
  visibility: hidden
  top: 12px
  right: 12px
  position: absolute
  background-repeat: no-repeat
  background-size: contain
  background-color: transparent
  width: 29.333px
  height: 29.333px
  border: none

.favIconLiked
  visibility: visible
  background-image: url("../../images/template-icon-liked.svg")

.favIconNotLiked
  background-image: url("../../images/template-icon-not-liked.svg")

.favIcon
  cursor: pointer
  transition: all 0.1ms linear

  &:hover
    opacity: .8

