.navbar
  position: fixed
  top: 80px
  z-index: 0
  left: 0
  width: clamp(228px, 16.5vw, 317px)
  height: 100%
  padding: 20px 10px
  box-sizing: border-box
  display: flex
  flex-direction: column
  row-gap: 4px
  @media (max-width: 1000px)
    display: none

.item
  color: #1A1A1A
  font-family: Inter, sans-serif
  font-size: 20px
  font-style: normal
  font-weight: 500
  line-height: 24px
  text-align: left
  padding: 10px
  background-color: #fff
  border: none
  cursor: pointer

.itemActive
  border-radius: 12px
  background: rgba(180, 187, 215, 0.10)
