.footer
    background: #0B4963
    padding: 32px
    box-sizing: border-box
    display: flex
    align-items: center

.footer__text
    color: #FFFFFF
    font-size: 16px
    line-height: 20px
    font-weight: 500
    font-family: 'SF-Pro'
    margin: auto
    text-decoration: none
