.add-it-to-favorites
  display: flex
  flex-direction: column
  align-items: center
  gap: 44px
  padding-top: 264px
  @media screen and (max-width: 1920px)
    padding-top: 245px
  @media screen and (max-width: 1366px)
    gap: 56px
    padding-top: 100px


.add-it-to-favorites__text-wrapper
  display: flex
  flex-direction: column
  align-items: center
  gap: 14px
  @media screen and (max-width: 1920px)
    gap: 20px
  @media screen and (max-width: 1366px)
    gap: 16px


.add-it-to-favorites__title
  font-family: Roboto, sans-serif
  margin: 0
  color: #1C1C1C
  font-size: 60px
  line-height: 70px
  font-weight: 700
  text-align: center
  max-width: 1195px
  @media screen and (max-width: 1920px)
    font-size: 56px
    max-width: 902px
  @media screen and (max-width: 1366px)
    max-width: 358px
    font-size: 28px
    line-height: 31px

.add-it-to-favorites__subtitle
  margin: 0
  font-family: "Open Sans", sans-serif
  color: #000000
  font-size: 22px
  line-height: 30px
  font-weight: 400
  text-align: center
  max-width: 600px
  @media screen and (max-width: 1366px)
    max-width: 358px
    font-size: 16px
    line-height: 19px

.add-it-to-favorites__illustration
  box-shadow: 0 4px 50px 0 #00000040
  display: block
  width: 842px
  height: 489px
  @media screen and (max-width: 1366px)
    width: 358px
    height: 185px
