.save-it-to-draft
    background:#D5E2E4
    padding: 80px 0

.save-it-to-draft__title
    color: #1C1C1C
    font-size: 60px
    line-height: 74px
    font-weight: 700
    margin-bottom: 12px
    text-align: center
    max-width: 1056px
    margin: auto


.save-it-to-draft__subtitle
    color: #000000
    font-size: 24px
    line-height: 32px
    font-weight: 400
    text-align: center
    max-width: 1170px
    margin: 0 auto 42px

.save-it-to-draft__illustration-container
    max-width: 1330px
    display: flex
    align-items: center
    margin: auto

.save-it-to-draft__illustration
    box-shadow: 0px 4px 50px 0px #00000040


.save-it-to-draft__arrow
    margin: 0 22px
