$color-link: rgba(4, 21, 175, 1);
$color-link-l: rgba(0, 25, 255, 1);

@keyframes preloader-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.back {
	font-size: 24px;
	line-height: 29px;
	color: $color-link;
	position: absolute;
	top: 32px;
	left: 32px;
	text-decoration: none;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 16px;
	position: relative;
}

.title {
	font-size: 35px;
	font-weight: 500;
	line-height: 39px;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.checkboxContainer {
	margin: 0;
	display: flex;
	align-items: start;
	justify-content: left;
}

.checkbox {
	appearance: none;
	-webkit-appearance: none; /* Для поддержки вебкит-браузерами */
	-moz-appearance: none; /* Для поддержки Firefox */
	margin: 0;
	padding: 0;
	width: 24px;
	height: 24px;
	border: 1px solid #550fda;
	border-radius: 4px;
	margin-right: 9px;
	background-color: inherit;
	cursor: pointer;
	text-align: center;
	&Checked {
		background-color: #550fda;
	}
	&:hover {
		border: 2px solid #550fda;
	}
}

.checkbox__text {
	margin: auto 0;
	padding: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.link {
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	color: #6000ed;
	font-size: 14px;
	line-height: 19px;
	text-decoration: none;
}

.policy {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #000;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.password {
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 14px;
}

.largeLink {
	border-radius: 24px;
	text-align: center;
	padding: 14px;
	border: 1px solid #a48dd3;
	color: #550fda;
	font-size: 24px;
	line-height: 28px;
	overflow: hidden;
	font-family: 'SF-Pro', 'Inter', sans-serif;
	font-size: 24px;
	line-height: 28px;
	text-decoration: none;
	text-align: center;
	margin: 14px 0 18px 0;
}

.link_password {
	margin: 0;
	padding: 0;
	color: #0415af;
	text-align: right;
	text-decoration: none;
	font-family: 'Inter', Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.orPar {
	margin: 0;
	font-size: 16px;
	line-height: 19.36px;
	text-align: center;
	margin-top: 8px;
	position: relative;
}

.orPar span {
	position: relative;
	background-color: white;
	padding: 0 8px;
	z-index: 2;
}

.orPar:after {
	content: '';
	width: 100%;
	border-bottom: 1px solid rgba(234, 234, 234, 1);
	position: absolute;
	left: 0;
	top: 50%;
	z-index: 1;
}

.parCheck {
	width: 507px;
	margin: 0 0 12px 0;
	font-size: 20px;
	line-height: 24px;
	&:last-of-type {
		margin: 0;
	}
	& span {
		color: $color-link-l;
	}
}

.parForget {
	margin: 12px 0 28px 0;
	font-size: 16px;
	line-height: 19px;
	width: 449px;
}

.preloader {
	width: 35px;
	height: 28px;
	background-image: url('../../images/preloader.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	animation: preloader-spin 1.5s linear infinite;
}
.button {
	background-color: inherit;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
	width: 28px;
	height: 28px;
	background-image: url('../../images/close_icon.svg');
	align-self: flex-end;
	position: absolute;
	top: 35px;
	right: 32px;
	background-color: transparent;
	@media (max-width: 600px) {
		display: none;
	}
}
