.link-to-start
    color: #FFFFFF
    font-size: 18px
    line-height: 18px
    letter-spacing: -0.24px
    font-weight: 500
    font-family: 'Roboto'
    border-radius: 14px
    background: #6000ED
    text-decoration: none
    padding: 20px 40px
    cursor: pointer
    transition: background 0.3s
    &:hover
        background: #4104B4
    &:active
        background: #32018D
