* {
	box-sizing: border-box;
}

.form {
	margin-left: 20px;
}

.form__list {
	list-style: none;

	margin: 0;
	padding: 0;
}

.form__item {
	padding-left: 40px;
	padding-bottom: 40px;

	position: relative;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.form__item-title {
	margin: 0;

	font-size: 28px;
	font-weight: 600;
	line-height: 34px;
}

.form__item-wrapper {
	display: flex;
	gap: 20px;
}

.form__item-wrapper_y {
	flex-direction: column;
}

.form__item_1::after {
	content: '1';
}

.form__item_2::after {
	content: '2';
}

.form__item_3::after {
	content: '3';
}

.form__item_4::after {
	content: '4';
}

.form__item_5::after {
	content: '5';
}

.form__item_6::after {
	content: '6';
}

.form__item_7::after {
	content: '7';
}

.form__item_8::after {
	content: '8';
}

.form__item_9::after {
	content: '9';
}

.form__item_10::after {
	content: '10';
}

.form__item_11::after {
	content: '11';
}

.form__item_not-success::after {
	position: absolute;
	top: 0;
	left: -22px;
	background-color: #fff;

	display: flex;
	justify-content: center;
	align-items: center;

	color: #000;

	text-align: center;

	font-size: 20px;
	font-weight: 700;

	border: 1px solid #0d23e9;
	border-radius: 50%;

	width: 40px;
	height: 40px;
}

.form__item_not-success {
	border-left: 1px solid #0d23e9;
}

.form__item:last-child {
	border: none;
}
